In [ ]:
# dependencies

import pandas as pd
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [ ]:
# upload csvs
wine_file = "wine_data_updated.csv"
# wine_i = "Wine_imports.csv"

wine_df = pd.read_csv(wine_file)
# wine_import = pd.read_csv(wine_i)

wine_df.head(5)

In [ ]:
# print column names for wine
wine_df.columns

In [ ]:
# sqlite create engine

engine = create_engine('sqlite:///wine_db.sqlite', echo=False)

In [ ]:
# create base
Base = declarative_base()

In [ ]:
# create table for wine
class Wine(Base):
    __tablename__ = 'wine'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    country = Column(String)
    points = Column(Integer)
    price = Column(Integer)
    province = Column(String)
    variety = Column(String)
    winery = Column(String)
    
    def __init__(self, title, country, points, price, province, variety, winery):
        self.title = title
        self.country = country
        self.points = points
        self.price = price
        self.province = province
        self.variety = variety
        self.winery = winery

In [ ]:
# set up session
session = Session (bind=engine)

In [ ]:
# create all metadata base engine
Base.metadata.create_all(engine)

In [ ]:
# create sqlite filepath wine_all
sqlite_path = "wine_db.sqlite"

engine = create_engine(f'sqlite:///{sqlite_path}')

In [ ]:
# engine execute wine_all
wine_all_df = engine.execute("SELECT * FROM wine")

print(wine_all_df)

In [11]:
# check table names
engine.table_names()

['wine']

In [14]:
# create dataframe to pull into sqlite file
res = engine.execute('''Select * from wine;''')
pd.DataFrame(res)

,0,1,2,3,4,5,6,7
0,1,L'Arboc NV 1919 Brut SelecciÃƒÂ³ Sparkling (Cava),Spain,88,$13.00,Catalonia,Sparkling Blend,L'Arboc
1,2,Guidi 1929 2015 Vernaccia di San Gimignano,Italy,87,$14.00,Tuscany,Vernaccia,Guidi 1929
2,3,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Italy,84,$15.00,Central Italy,Sangiovese,Poderi dal Nespoli 1929
3,4,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Portugal,93,$495.00,Colares,Ramisco,Adega Viuva Gomes
4,5,GÃƒÂ©rard Bertrand 1945 Legend Vintage Red (Ri...,France,95,$350.00,Languedoc-Roussillon,Red Blend,GÃƒÂ©rard Bertrand
...,...,...,...,...,...,...,...,...
24992,24993,Familie Zull 2016 Lust & Laune RosÃƒÂ© (Nieder...,Austria,88,$15.00,NiederÃƒÂ¶sterreich,RosÃƒÂ©,Familie Zull
24993,24994,JÃƒÂ¤ger 2016 Vorder Seiber Federspiel GrÃƒÂ¼n...,Austria,90,$25.00,Wachau,GrÃƒÂ¼ner Veltliner,JÃƒÂ¤ger
24994,24995,Zonin NV CuvÃƒÂ¨e 1821 Brut (Prosecco),Italy,86,$15.00,Veneto,Glera,Zonin
24995,24996,Osborne NV Pedro Ximenez 1827 Sweet Sherry She...,Spain,94,$14.00,Andalucia,Sherry,Osborne
24996,24997,CodornÃƒÂ­u NV Reserva CuvÃƒÂ©e Barcelona 1872...,Spain,85,None,Catalonia,Sparkling Blend,CodornÃƒÂ­u

In [15]:
# WINE turn pandas csv dataframe into sqlite database 

wine_df.to_sql(name='wine', con=engine, if_exists='append', index=False)

In [16]:
# replace columns names for wine
# 'id', 'title', 'country', 'points', 'price', 'province', 'variety', 'winery
wine_all = wine_df.rename(columns={'0': 'ID', '1': 'Title', '2': 'Country', '3': 'Points', '4': 'Price', '5': 'Province', '6': 'Variety' , '7':'Winery' })
wine_all.head()

,title,country,points,price,province,variety,winery
0,L'Arboc NV 1919 Brut SelecciÃƒÂ³ Sparkling (Cava),Spain,88,$13.00,Catalonia,Sparkling Blend,L'Arboc
1,Guidi 1929 2015 Vernaccia di San Gimignano,Italy,87,$14.00,Tuscany,Vernaccia,Guidi 1929
2,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Italy,84,$15.00,Central Italy,Sangiovese,Poderi dal Nespoli 1929
3,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Portugal,93,$495.00,Colares,Ramisco,Adega Viuva Gomes
4,GÃƒÂ©rard Bertrand 1945 Legend Vintage Red (Ri...,France,95,$350.00,Languedoc-Roussillon,Red Blend,GÃƒÂ©rard Bertrand

In [17]:
# check that table wine is coming through wine
pd.read_sql_query('select * from wine', con=engine).head()

,id,title,country,points,price,province,variety,winery
0,1,L'Arboc NV 1919 Brut SelecciÃƒÂ³ Sparkling (Cava),Spain,88,$13.00,Catalonia,Sparkling Blend,L'Arboc
1,2,Guidi 1929 2015 Vernaccia di San Gimignano,Italy,87,$14.00,Tuscany,Vernaccia,Guidi 1929
2,3,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Italy,84,$15.00,Central Italy,Sangiovese,Poderi dal Nespoli 1929
3,4,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Portugal,93,$495.00,Colares,Ramisco,Adega Viuva Gomes
4,5,GÃƒÂ©rard Bertrand 1945 Legend Vintage Red (Ri...,France,95,$350.00,Languedoc-Roussillon,Red Blend,GÃƒÂ©rard Bertrand